.verde{
    width: 100vw;
    height: 110px;  
}

.verde p{
    font-weight: bold;  
    color: #247A6B;
}

.infos{
    margin-bottom: 25px;
}

.infos h1{
    margin-left: 30px;  
    height: 50px; 
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #293845;
}

.infos p {
    margin-left: 30px;    
    height: 30px; 
    font-family: Roboto;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #293845;
}

.voltar{
    margin: 60px auto 100px auto;
}
