.datas{
    margin-bottom: 117px;
}



.data{
    margin: 0 auto 23px 30px; 
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    flex-direction: column;    
    letter-spacing: 0.02em;
    color: #293845;
} 

.data button{   
    width: 82px;
    height: 43px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background-color: #E8833A;
    border-radius: 5px;
    border-color: #E8833A;
    margin-right: 8px;
    margin-bottom: 15px;
}

.filmes img{
    width: 129px;
    height: 193px;
    margin: 15px;  
    
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.rodapePage2{
    display: flex;
    height: 117px;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #FFFFFF
}
  
.rodapePage2 img{
    width: 48px;
    height: 72px;
    margin: 15px;      
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.rodapePage2 p{
    height: 117px;
    font-family: Roboto;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #293845;
}

