.topo {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 67px;
  background-color: #C3CFD9;
  display: flex;
  align-items: center; 
}

.topo p {
  font-family: Roboto;
  font-size: 34px;
  line-height: 40px;
  color: #E8833A;
  font-size: 34px;
  width: 100vw;
  display: flex;
  justify-content: center;
}